# Importing necessary modules

In [1]:
import pandas as pd
import numpy as np
import string
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score

# Loading the dataset/dataframe

In [2]:
data=pd.read_csv("final_all_names_code.csv")    #Read the csv file
data.head()                                     #Display the first 5 rows

                    Name Country_code Country
0            Amy Johnson        ar_AE      AE
1          Thomas Wright        ar_AE      AE
2   Mr. Marco Flores DDS        ar_AE      AE
3         Marcus Robbins        ar_AE      AE
4       Susan Montgomery        ar_AE      AE

# Creating column names for new dataframe

In [3]:
columns=list(string.ascii_lowercase)+['Country','Country_code']
print(columns)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'Country', 'Country_code']

In [4]:
newdata=pd.DataFrame(columns=columns)   #Create new dataframe with the columns names
newdata

Empty DataFrame
Columns: [a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p, q, r, s, t, u, v, w, x, y, z, Country, Country_code]
Index: []

[0 rows x 28 columns]

# Creating values from existing dataset for the new dataframe

In [5]:
values=[]
for i in range(1000):
    fullname=data['Name'][i]                     #Load the name from original dataset
    name=fullname.split()                        #Splitting the name into first name and last name
    lastname=name[-1]                            #We will consider only the last name for further processing
    lastname=lastname.lower()
    # print(lastname)
    cols=dict.fromkeys(columns,0)                #Create a new dictionary with keys as the columns of new dataframe and values of all of them will be 0
    for j in lastname:
        cols[j]=1                                #Set the values of only those characters/columns as 1 that appear in the lastname
    cols['Country']=data['Country'][i]           #Set the Country to that of the country the person belonged to in orginal dataset
    cols['Country_code']=data['Country_code'][i] #Set the CountryCode to that of the countrycode the person belonged to in orginal dataset
    values.append(cols)                          #Append the dictionary to the values list
valuesFrame=pd.DataFrame(values)                 #Create a dataframe with the values alone

# Concatnating the new dataframe with the values

In [6]:
newdata=pd.concat([newdata,valuesFrame],ignore_index=True)
newdata

,a,b,c,d,e,f,g,h,i,j,...,t,u,v,w,x,y,z,Country,Country_code,.
0,0,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,AE,ar_AE,NaN
1,0,0,0,0,0,0,1,1,1,0,...,1,0,0,1,0,0,0,AE,ar_AE,NaN
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,AE,ar_AE,NaN
3,0,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,AE,ar_AE,NaN
4,0,0,0,0,1,0,1,0,0,0,...,1,0,0,0,0,1,0,AE,ar_AE,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,AE,ar_AE,NaN
996,1,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,AE,ar_AE,NaN
997,0,0,0,0,1,1,0,1,1,0,...,0,0,0,0,0,0,0,AE,ar_AE,NaN
998,1,0,0,1,0,0,0,0,1,0,...,0,0,1,0,0,0,0,AE,ar_AE,NaN
999,0,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,AE,ar_AE,NaN

# Drop any additional columns added

In [7]:
newdata.drop(['.'],axis=1,inplace=True)   # Axis 1 represents that the colmn should be dropped and not row
newdata

,a,b,c,d,e,f,g,h,i,j,...,s,t,u,v,w,x,y,z,Country,Country_code
0,0,0,0,0,0,0,0,1,0,1,...,1,0,0,0,0,0,0,0,AE,ar_AE
1,0,0,0,0,0,0,1,1,1,0,...,0,1,0,0,1,0,0,0,AE,ar_AE
2,0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,AE,ar_AE
3,0,1,0,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,AE,ar_AE
4,0,0,0,0,1,0,1,0,0,0,...,0,1,0,0,0,0,1,0,AE,ar_AE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,AE,ar_AE
996,1,0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,0,AE,ar_AE
997,0,0,0,0,1,1,0,1,1,0,...,1,0,0,0,0,0,0,0,AE,ar_AE
998,1,0,0,1,0,0,0,0,1,0,...,1,0,0,1,0,0,0,0,AE,ar_AE
999,0,0,0,0,0,0,0,1,0,1,...,1,0,0,0,0,0,0,0,AE,ar_AE

In [8]:
X= newdata[list(string.ascii_lowercase)] #This is considered as features (Feature Dataset)
Y= newdata['Country']                    #This is the non-numeric label for the respective features (Target Dataset)
X

     a  b  c  d  e  f  g  h  i  j  ...  q  r  s  t  u  v  w  x  y  z
0    0  0  0  0  0  0  0  1  0  1  ...  0  0  1  0  0  0  0  0  0  0
1    0  0  0  0  0  0  1  1  1  0  ...  0  1  0  1  0  0  1  0  0  0
2    0  0  0  1  0  0  0  0  0  0  ...  0  0  1  0  0  0  0  0  0  0
3    0  1  0  0  0  0  0  0  1  0  ...  0  1  1  0  0  0  0  0  0  0
4    0  0  0  0  1  0  1  0  0  0  ...  0  1  0  1  0  0  0  0  1  0
..  .. .. .. .. .. .. .. .. .. ..  ... .. .. .. .. .. .. .. .. .. ..
995  0  0  0  0  1  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
996  1  0  0  0  0  0  0  0  0  0  ...  0  1  1  1  1  0  0  0  0  0
997  0  0  0  0  1  1  0  1  1  0  ...  0  1  1  0  0  0  0  0  0  0
998  1  0  0  1  0  0  0  0  1  0  ...  0  0  1  0  0  1  0  0  0  0
999  0  0  0  0  0  0  0  1  0  1  ...  0  0  1  0  0  0  0  0  0  0

[1000 rows x 26 columns]

# Preprocessing for training the model

In [9]:
X= StandardScaler().fit_transform(X)  #Converts the data into a Normal Distribution (ie) with mean=0 ans sd=1
Y= LabelEncoder().fit_transform(Y)    #Converts the non numeric labels to numeric labels

# Splitting the datset into traing and testing dataset

In [10]:
xTrain, xTest, yTrain, yTest = train_test_split(X,Y,test_size=0.2,random_state=0) #20% data for testing 80% data for training

# Creating a MLP Classifier model

In [11]:
model=MLPClassifier(
    hidden_layer_sizes=(100,50,30),
    solver='adam',
    verbose=True,
    activation='relu',
    random_state=42,
    max_iter=500,
    n_iter_no_change=30,
    learning_rate_init=0.0001
)

# Training and Testing the Model

In [12]:
model.fit(xTrain,yTrain)               #Training the model
yPred=model.predict(xTest)             #Predicting label for testing data
accuracy=accuracy_score(yTest,yPred)   #Checking how accurately the predicted and actual label match for testing data
print("Accuracy = ",accuracy*100)

Iteration 1, loss = 0.70405455
Iteration 2, loss = 0.68610987
Iteration 3, loss = 0.66880414
Iteration 4, loss = 0.65198205
Iteration 5, loss = 0.63583216
Iteration 6, loss = 0.62003955
Iteration 7, loss = 0.60465765
Iteration 8, loss = 0.58973961
Iteration 9, loss = 0.57488982
Iteration 10, loss = 0.56031758
Iteration 11, loss = 0.54587288
Iteration 12, loss = 0.53172241
Iteration 13, loss = 0.51770307
Iteration 14, loss = 0.50393970
Iteration 15, loss = 0.49013806
Iteration 16, loss = 0.47645284
Iteration 17, loss = 0.46274579
Iteration 18, loss = 0.44890141
Iteration 19, loss = 0.43515566
Iteration 20, loss = 0.42149487
Iteration 21, loss = 0.40786001
Iteration 22, loss = 0.39401775
Iteration 23, loss = 0.38031630
Iteration 24, loss = 0.36666453
Iteration 25, loss = 0.35326545
Iteration 26, loss = 0.33997543
Iteration 27, loss = 0.32701670
Iteration 28, loss = 0.31420338
Iteration 29, loss = 0.30157630
Iteration 30, loss = 0.28928988
Iteration 31, loss = 0.27725201
Iteration 32, loss = 0.26536055
Iteration 33, loss = 0.25385123
Iteration 34, loss = 0.24263533
Iteration 35, loss = 0.23172294
Iteration 36, loss = 0.22129926
Iteration 37, loss = 0.21126913
Iteration 38, loss = 0.20166757
Iteration 39, loss = 0.19244744
Iteration 40, loss = 0.18361272
Iteration 41, loss = 0.17516065
Iteration 42, loss = 0.16711102
Iteration 43, loss = 0.15939350
Iteration 44, loss = 0.15200872
Iteration 45, loss = 0.14499328
Iteration 46, loss = 0.13829832
Iteration 47, loss = 0.13194174
Iteration 48, loss = 0.12587983
Iteration 49, loss = 0.12017050
Iteration 50, loss = 0.11476141
Iteration 51, loss = 0.10963614
Iteration 52, loss = 0.10469169
Iteration 53, loss = 0.10007924
Iteration 54, loss = 0.09567032
Iteration 55, loss = 0.09154037
Iteration 56, loss = 0.08757077
Iteration 57, loss = 0.08383027
Iteration 58, loss = 0.08028380
Iteration 59, loss = 0.07693964
Iteration 60, loss = 0.07375343
Iteration 61, loss = 0.07072547
Iteration 62, loss = 0.06781986
Iteration 63, loss = 0.06508675
Iteration 64, loss = 0.06250230
Iteration 65, loss = 0.06004082
Iteration 66, loss = 0.05770534
Iteration 67, loss = 0.05546350
Iteration 68, loss = 0.05336712
Iteration 69, loss = 0.05135583
Iteration 70, loss = 0.04943664
Iteration 71, loss = 0.04763189
Iteration 72, loss = 0.04591440
Iteration 73, loss = 0.04426922
Iteration 74, loss = 0.04272191
Iteration 75, loss = 0.04123292
Iteration 76, loss = 0.03980774
Iteration 77, loss = 0.03844153
Iteration 78, loss = 0.03716020
Iteration 79, loss = 0.03590871
Iteration 80, loss = 0.03473878
Iteration 81, loss = 0.03360108
Iteration 82, loss = 0.03251626
Iteration 83, loss = 0.03148652
Iteration 84, loss = 0.03049983
Iteration 85, loss = 0.02955016
Iteration 86, loss = 0.02865099
Iteration 87, loss = 0.02778744
Iteration 88, loss = 0.02695387
Iteration 89, loss = 0.02616503
Iteration 90, loss = 0.02539876
Iteration 91, loss = 0.02466569
Iteration 92, loss = 0.02395277
Iteration 93, loss = 0.02328432
Iteration 94, loss = 0.02262222
Iteration 95, loss = 0.02198966
Iteration 96, loss = 0.02138374
Iteration 97, loss = 0.02078278
Iteration 98, loss = 0.02020862
Iteration 99, loss = 0.01964855
Iteration 100, loss = 0.01911041
Iteration 101, loss = 0.01857787
Iteration 102, loss = 0.01806541
Iteration 103, loss = 0.01756625
Iteration 104, loss = 0.01707564
Iteration 105, loss = 0.01659538
Iteration 106, loss = 0.01612942
Iteration 107, loss = 0.01567035
Iteration 108, loss = 0.01523452
Iteration 109, loss = 0.01480604
Iteration 110, loss = 0.01439318
Iteration 111, loss = 0.01399256
Iteration 112, loss = 0.01359401
Iteration 113, loss = 0.01321622
Iteration 114, loss = 0.01283955
Iteration 115, loss = 0.01248137
Iteration 116, loss = 0.01212671
Iteration 117, loss = 0.01179031
Iteration 118, loss = 0.01145652
Iteration 119, loss = 0.01114069
Iteration 120, loss = 0.01083252
Iteration 121, loss = 0.01053359
Iteration 122, loss = 0.01024371
Iteration 123, loss = 0.00996781
Iteration 124, loss = 0.00970587
Iteration 125, loss = 0.00944063
Iteration 126, loss = 0.00919600
Iteration 127, loss = 0.00895222
Iteration 128, loss = 0.00872312
Iteration 129, loss = 0.00849702
Iteration 130, loss = 0.00827885
Iteration 131, loss = 0.00807156
Iteration 132, loss = 0.00786796
Iteration 133, loss = 0.00767391
Iteration 134, loss = 0.00748335
Iteration 135, loss = 0.00730027
Iteration 136, loss = 0.00712508
Iteration 137, loss = 0.00695195
Iteration 138, loss = 0.00678747
Iteration 139, loss = 0.00662497
Iteration 140, loss = 0.00647056
Iteration 141, loss = 0.00632093
Iteration 142, loss = 0.00617716
Iteration 143, loss = 0.00603558
Iteration 144, loss = 0.00589977
Iteration 145, loss = 0.00576607
Iteration 146, loss = 0.00563824
Iteration 147, loss = 0.00551428
Iteration 148, loss = 0.00539407
Iteration 149, loss = 0.00527626
Iteration 150, loss = 0.00516448
Iteration 151, loss = 0.00505406
Iteration 152, loss = 0.00494642
Iteration 153, loss = 0.00484437
Iteration 154, loss = 0.00474278
Iteration 155, loss = 0.00464697
Iteration 156, loss = 0.00454980
Iteration 157, loss = 0.00445811
Iteration 158, loss = 0.00437083
Iteration 159, loss = 0.00428172
Iteration 160, loss = 0.00419724
Iteration 161, loss = 0.00411558
Iteration 162, loss = 0.00403590
Iteration 163, loss = 0.00395742
Iteration 164, loss = 0.00388233
Iteration 165, loss = 0.00380881
Iteration 166, loss = 0.00373694
Iteration 167, loss = 0.00366766
Iteration 168, loss = 0.00359942
Iteration 169, loss = 0.00353363
Iteration 170, loss = 0.00346869
Iteration 171, loss = 0.00340572
Iteration 172, loss = 0.00334611
Iteration 173, loss = 0.00328556
Iteration 174, loss = 0.00322851
Iteration 175, loss = 0.00317123
Iteration 176, loss = 0.00311683
Iteration 177, loss = 0.00306230
Iteration 178, loss = 0.00300886
Iteration 179, loss = 0.00295868
Iteration 180, loss = 0.00290835
Iteration 181, loss = 0.00285883
Iteration 182, loss = 0.00281240
Iteration 183, loss = 0.00276577
Iteration 184, loss = 0.00272021
Iteration 185, loss = 0.00267466
Training loss did not improve more than tol=0.000100 for 30 consecutive epochs. Stopping.
Accuracy =  100.0